

body {
    color: white;
    background-color: black;
    font-family: "Libre Baskerville", serif;
}

.My_Poster {
    width: 50%;
    margin-left: 25%;
    margin: 0 auto;
    padding: 20px;
  }

  .motivational-mountain-poster {
    width: 100%; 
    border: 5px solid white; 
}

h1 {
    text-transform: uppercase;
    text-align: center;
}
  
  p {
    margin: 0;
  }
  